/*line 2 to 26 for nav bar*/
body{
    margin: 0;
    background-color: #FFDBFD;
    z-index: -3;
}
nav{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #C9BEFF;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 5px;
}
.logo img{
    width: 100px;
    height: 40px;
}
.navvalues span{
    margin: 0px 10px;
    font-weight: bolder;
    text-align: right;
}

/*content*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 40px;
    color: #6367FF;
}

.content img{
    height: 150px;
    width: 150px;
}
.navvalues i, .title{
    display: none;
}


/* footer */
footer{
    background-color: #8494FF;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    color: white;
}

footer span:hover{
    cursor: pointer;
}
footer a{
    color: white;
}

.navvalues a{
    color: black;
}
/*Desktop*/

@media screen and (min-width:992px) {
   
    body{
        overflow: hidden;
    }
    .navvalues span{
        font-size: 20px;
    }

}

/*Tablet*/

@media screen and (max-width:992px) {
    .navvalues span{
        font-size: 15px;
    }
    
}




/*Mobile*/
@media screen and (max-width: 576px) {
      
    footer{
        height: 40px;
        flex-wrap: wrap;
        font-size: 15px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;

    }
    .logo img{
        width: 70px;
        height: 30px;
    }
    .navvalues span{
    display: none;
    }
    .navvalues i{
    display: block;
    font-size: 40px;
    margin-right: 10px;
    }

    .title{
        display: block;
    }
}